<tr>
  <td><%= link_to bookmark.name, bookmark.url %></td>
  <td class="last"><%= link_to "delete", bookmark, :method => :delete, :confirm => "You sure?",
                                                   :title => "Delete #{bookmark.name}" %></td>
</tr>
