<h2>Add a new bookmark</h2>

<form id="bookmarkform" action="" method="post">

	<p>
		<label for="name">Name:</label><br />
		<input id="name" class="text" type="text" />
	</p>
	<p>
		<label for="url">Url:</label><br />
		<input id="url" class="text" type='text' />
	</p>
	
	<p>
		<input type="submit" value="Add bookmark">
		<input type="reset" value="Reset form values">
	</p>

</form>
