
<div class="block" id="block-tables">
  <div class="content">

    <div class="inner">

      <h2 class="title">Bookmarks</h2>
      
      <div class="actions-bar wat-cf">
        <div class="pagination">
          <%= will_paginate %>
        </div>
      </div>

      <table class="table">
        <tbody>
          <tr>
            <th>Name</th>
            <th class="last"></th>
          </tr>
          <%= render @bookmarks %>
        </tbody>
      </table>

      <div class="actions-bar wat-cf">
        <div class="pagination">
          <%= will_paginate %>
        </div>
      </div>

    </div>
  
  </div>
</div>

