<div id="box">
      
    <div class="block" id="block-signup">
      <h2>Edit up</h2>
    
      <div class="content">
      
        <%= form_for @user, :url => user_path(@user), :html => { :class => "form" } do |f| %>

          <%= render @user, :f => f %>

          <div class="group navform wat-cf">

            <button class="button" type="submit">
              <%= image_tag "web-app-theme/icons/tick.png" %>
              Update
            </button>

            <%= link_to "Cancel", user_path(@user), :class => "text_button_padding link_button" %>

          </div>

        <% end %>
        
      </div>
    
  </div>
      
</div>