<header>
	<div id="header" class="span-24">
		<div class="span-12">
			<h2>Shelve It</h2>
		</div>
		<div class="span-12 last">
			<div class="right">
				<input class="text" type="text"></input>
				<input type="submit" value="Search"></input>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</header>