<div id="header">

  <% if signed_in? %>
    <h1><%= link_to "Shelveit", :root %></h1>
  <% else %>
    <h1><%= link_to "Shelveit", signin_path %></h1>
  <% end %>

  <div id="user-navigation">
    <%= render 'layouts/usermenu' %>
  </div>

  <div id="main-navigation">
    <%= render 'layouts/navmenu' %>
  </div>

</div>
